source https://www.myget.org/F/nugetbuild/api/v3/index.json
source https://www.nuget.org/api/v2/
framework >= net452

nuget bootstrap 3.0.0
nuget Knockout.Validation 1.0.1
nuget Microsoft.ApplicationInsights.JavaScript 0.22.19-build00125 build
nuget Microsoft.ApplicationInsights.Web 2.1.0
nuget Microsoft.AspNet.Identity.EntityFramework 2.2.1
nuget Microsoft.AspNet.Identity.Owin 2.2.1
nuget Microsoft.AspNet.Web.Optimization 1.1.3
nuget Microsoft.AspNet.WebApi 5.2.3
nuget Microsoft.AspNet.WebApi.HelpPage 5.2.3
nuget Microsoft.AspNet.WebApi.Owin 5.2.3
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform 1.0.0
nuget Microsoft.Owin.Host.SystemWeb 3.0.1
nuget Microsoft.Owin.Security.Facebook 3.0.1
nuget Microsoft.Owin.Security.Google 3.0.1
nuget Microsoft.Owin.Security.MicrosoftAccount 3.0.1
nuget Microsoft.Owin.Security.Twitter 3.0.1
nuget Modernizr 2.6.2
nuget Respond 1.2.0
nuget Sammy.js 0.7.4